/* women page */
#women-header{
    background-image:url("../assets/images/women-poster.png");
    width: 100%;
    height: 50vh;
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    /* justify-content: center;
    text-align: center; */
    /* flex-direction: column; */
    /* padding: 14px; */
    object-fit: cover;
}

#sm-banner .banner-box-kid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start; 
    background-image: url("../assets/images/kidsmbanner.jpg");
    min-width:670px;
    height:50vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
}
#sm-banner .banner-box2-kid{
    background-image: url("../assets/images/kidsmbanner2.avif"); 
    align-items:flex-start; 
}